.viewer-container {
  height: calc(100vh - 50px);
}

.smart-table {
  font-size: 12px;
  width: 100%;

  > tbody {
    > tr:not(:first-child):hover {
      background-color: skyblue;
      cursor: pointer;
    }
  }

  > td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

}
